# Preparing data for tableau

a) import Libraries & original dataset

b) group data by country & source

## part 2

c) import data energy per capita & grouped data by country excl. source

In [33]:
# a) import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [34]:
# set path
path = r'C:\Users\rieke\Data Analytics\Achievement 6\02 Data'

In [35]:
df = pd.read_csv(os.path.join(path, '02 Prepared Data', 'DF1_renew_clean.csv'), index_col = False)

In [36]:
df = df.drop(columns = ['Unnamed: 0'])

In [37]:
df.head()

,COUNTRY,CODE_TIME,TIME,YEAR,MONTH,MONTH_NAME,PRODUCT,VALUE,DISPLAY_ORDER,yearToDate,share
0,Australia,JAN2010,January 2010,2010,1,January,Hydro,990.728,1,16471.891,0.047771
1,Australia,JAN2010,January 2010,2010,1,January,Wind,409.469,2,4940.909,0.019744
2,Australia,JAN2010,January 2010,2010,1,January,Solar,49.216,3,908.238,0.002373
3,Australia,JAN2010,January 2010,2010,1,January,Geothermal,0.083,4,0.996,0.000004
4,Australia,JAN2010,January 2010,2010,1,January,Total combustible fuels,19289.730,7,214302.969,0.930108

In [38]:
df.columns

Index(['COUNTRY', 'CODE_TIME', 'TIME', 'YEAR', 'MONTH', 'MONTH_NAME',
       'PRODUCT', 'VALUE', 'DISPLAY_ORDER', 'yearToDate', 'share'],
      dtype='object')

b) gourp data by country and source

In [39]:
df1 = df.groupby(['COUNTRY', 'PRODUCT']).agg({'PRODUCT':'count', 'VALUE':'mean'})\
.rename(columns={'PRODUCT':'count_of_sources','VALUE':'mean_value'})\
.reset_index()
print (df1)

            COUNTRY                  PRODUCT  count_of_sources     mean_value
0         Argentina                     Coal                94     191.736012
1         Argentina   Combustible renewables                96     146.505351
2         Argentina      Distribution losses                84     -62.736786
3         Argentina     Electricity supplied                96   11644.736925
4         Argentina        Electricity trade                84     -29.631012
...             ...                      ...               ...            ...
1392  United States  Total combustible fuels               156  227953.171413
1393  United States            Total exports               156    1353.673978
1394  United States            Total imports               156    5131.957848
1395  United States  Used for pumped storage               156    2249.517924
1396  United States                     Wind               156   19850.676086

[1397 rows x 4 columns]

In [40]:
# deleting geographical region summaries to exclude outliers and see the single countries only
list1 = ['IEA Total', 'OECD Americas', 'OECD Asia Oceania', 'OECD Europe', 'OECD Total']

In [41]:
print(df1[df1.COUNTRY.isin(list1) == False])

            COUNTRY                  PRODUCT  count_of_sources     mean_value
0         Argentina                     Coal                94     191.736012
1         Argentina   Combustible renewables                96     146.505351
2         Argentina      Distribution losses                84     -62.736786
3         Argentina     Electricity supplied                96   11644.736925
4         Argentina        Electricity trade                84     -29.631012
...             ...                      ...               ...            ...
1392  United States  Total combustible fuels               156  227953.171413
1393  United States            Total exports               156    1353.673978
1394  United States            Total imports               156    5131.957848
1395  United States  Used for pumped storage               156    2249.517924
1396  United States                     Wind               156   19850.676086

[1262 rows x 4 columns]

In [42]:
df1.to_excel(os.path.join(path, '02 Prepared Data', 'grouped data incl. prod 2010-2022.xlsx'))

## Part 2

In [12]:
df2 = pd.read_csv(os.path.join(path, '01 Original Data', 'per-capita-energy-stacked.csv'), index_col = False)

In [15]:
df2.shape

(4869, 11)

In [16]:
df2.head()

,Entity,Code,Year,Coal per capita (kWh),Oil per capita (kWh),Gas per capita (kWh),Nuclear per capita (kWh - equivalent),Hydro per capita (kWh - equivalent),Wind per capita (kWh - equivalent),Solar per capita (kWh - equivalent),Other renewables per capita (kWh - equivalent)
0,Africa,NaN,1965,1006.37360,1061.6443,29.689943,0.0,127.91771,0.0,NaN,NaN
1,Africa,NaN,1966,980.17280,1120.8165,32.366585,0.0,139.12256,0.0,NaN,NaN
2,Africa,NaN,1967,976.73180,1088.6127,31.185446,0.0,141.57660,0.0,NaN,NaN
3,Africa,NaN,1968,990.00653,1121.6766,30.805683,0.0,161.39375,0.0,NaN,NaN
4,Africa,NaN,1969,973.52277,1114.7306,35.082924,0.0,183.53687,0.0,NaN,NaN

In [17]:
df2.tail()

,Entity,Code,Year,Coal per capita (kWh),Oil per capita (kWh),Gas per capita (kWh),Nuclear per capita (kWh - equivalent),Hydro per capita (kWh - equivalent),Wind per capita (kWh - equivalent),Solar per capita (kWh - equivalent),Other renewables per capita (kWh - equivalent)
4864,World,OWID_WRL,2017,5756.9340,6910.1016,4806.5890,886.18823,1425.2183,399.34050,155.99246,243.51358
4865,World,OWID_WRL,2018,5767.4500,6930.2550,4991.8460,892.27020,1440.3722,437.28662,198.41116,259.74496
4866,World,OWID_WRL,2019,5627.8380,6873.0150,5030.6750,910.92520,1436.4279,482.23290,238.97023,269.82242
4867,World,OWID_WRL,2020,5351.8955,6170.2590,4904.4710,865.87714,1455.6683,534.71590,283.44043,278.75745
4868,World,OWID_WRL,2021,5622.9023,6469.6636,5104.7036,888.99695,1413.9346,615.99610,341.58823,300.03920

In [19]:
df2.columns

Index(['Entity', 'Code', 'Year', 'Coal per capita (kWh)',
       'Oil per capita (kWh)', 'Gas per capita (kWh)',
       'Nuclear per capita (kWh - equivalent)',
       'Hydro per capita (kWh - equivalent)',
       'Wind per capita (kWh - equivalent)',
       'Solar per capita (kWh - equivalent)',
       'Other renewables per capita (kWh - equivalent)'],
      dtype='object')