6.7 b) Preparing Data

In [1]:
# a) import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os

In [2]:
# set path
path = r'C:\Users\rieke\Data Analytics\Achievement 6\02 Data'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Prepared Data', 'DF1_renew_clean.csv'), index_col = False)

In [4]:
df = df.drop(columns = ['Unnamed: 0'])

In [5]:
df.head()

,COUNTRY,CODE_TIME,TIME,YEAR,MONTH,MONTH_NAME,PRODUCT,VALUE,DISPLAY_ORDER,yearToDate,share
0,Australia,JAN2010,January 2010,2010,1,January,Hydro,990.728,1,16471.891,0.047771
1,Australia,JAN2010,January 2010,2010,1,January,Wind,409.469,2,4940.909,0.019744
2,Australia,JAN2010,January 2010,2010,1,January,Solar,49.216,3,908.238,0.002373
3,Australia,JAN2010,January 2010,2010,1,January,Geothermal,0.083,4,0.996,0.000004
4,Australia,JAN2010,January 2010,2010,1,January,Total combustible fuels,19289.730,7,214302.969,0.930108

In [6]:
df.value_counts('COUNTRY')

COUNTRY
IEA Total              4212
OECD Europe            4212
OECD Total             4212
France                 4200
OECD Americas          4188
OECD Asia Oceania      4140
United Kingdom         4140
United States          4104
Germany                4102
Republic of Turkiye    4094
Canada                 4080
Portugal               4034
Czech Republic         3996
Austria                3996
Belgium                3996
Italy                  3996
Slovak Republic        3985
Spain                  3984
Poland                 3960
Mexico                 3959
Netherlands            3954
New Zealand            3926
Slovenia               3909
Finland                3888
Sweden                 3887
Switzerland            3876
Norway                 3866
Hungary                3858
Luxembourg             3799
Greece                 3791
Japan                  3757
Ireland                3756
Korea                  3744
Lithuania              3731
Denmark                3672
Latvia                 3618
Estonia                3564
Australia              3446
Chile                  3347
Iceland                2880
Colombia               2548
India                  2484
Romania                2438
Bulgaria               2436
Argentina              2399
Croatia                2347
Brazil                 2340
Serbia                 2314
North Macedonia        2234
Malta                  2034
Cyprus                 2018
Costa Rica              464
dtype: int64

In [7]:
# deleting geographical region summaries to exclude outliers and see the single countries only
list1 = ['IEA Total', 'OECD Americas', 'OECD Asia Oceania', 'OECD Europe', 'OECD Total']

In [8]:
df = (df[df.COUNTRY.isin(list1) == False])

In [9]:
df.value_counts('COUNTRY')

COUNTRY
France                 4200
United Kingdom         4140
United States          4104
Germany                4102
Republic of Turkiye    4094
Canada                 4080
Portugal               4034
Czech Republic         3996
Italy                  3996
Austria                3996
Belgium                3996
Slovak Republic        3985
Spain                  3984
Poland                 3960
Mexico                 3959
Netherlands            3954
New Zealand            3926
Slovenia               3909
Finland                3888
Sweden                 3887
Switzerland            3876
Norway                 3866
Hungary                3858
Luxembourg             3799
Greece                 3791
Japan                  3757
Ireland                3756
Korea                  3744
Lithuania              3731
Denmark                3672
Latvia                 3618
Estonia                3564
Australia              3446
Chile                  3347
Iceland                2880
Colombia               2548
India                  2484
Romania                2438
Bulgaria               2436
Argentina              2399
Croatia                2347
Brazil                 2340
Serbia                 2314
North Macedonia        2234
Malta                  2034
Cyprus                 2018
Costa Rica              464
dtype: int64

In [10]:
df1 = df.groupby(['COUNTRY', 'YEAR']).agg({'PRODUCT':'count', 'VALUE':'sum'})\
.reset_index()
print (df1)

           COUNTRY  YEAR  PRODUCT         VALUE
0        Argentina  2015      307  9.474257e+05
1        Argentina  2016      296  9.587725e+05
2        Argentina  2017      297  9.428265e+05
3        Argentina  2018      324  9.429776e+05
4        Argentina  2019      324  8.923410e+05
..             ...   ...      ...           ...
541  United States  2018      324  2.841502e+07
542  United States  2019      324  2.808453e+07
543  United States  2020      324  2.706935e+07
544  United States  2021      324  2.809176e+07
545  United States  2022      312  2.885488e+07

[546 rows x 4 columns]

In [45]:
df1 = df1.rename(columns={'COUNTRY':'Country', 'YEAR':'Year','PRODUCT':'Prod_sources', 'VALUE':'Production Value (GWh)'})

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 546 non-null    object
 1   Year                    546 non-null    int64
 2   Prod_sources            546 non-null    int64
 3   Production Value (GWh)  546 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 17.2+ KB

In [47]:
df1.to_excel(os.path.join(path, '02 Prepared Data', 'Anual Value by Country 2010-2022.xlsx'))

### Part 2 - Preparing dataset anual consumption by country

In [11]:
df2 = pd.read_csv(os.path.join(path, '01 Original Data', 'primary-energy-cons.csv'), index_col = False)

In [12]:
df2.head()

        Entity Code  Year  Primary energy consumption (TWh)
0  Afghanistan  AFG  1980                          7.790772
1  Afghanistan  AFG  1981                          8.777320
2  Afghanistan  AFG  1982                          9.348327
3  Afghanistan  AFG  1983                         11.436162
4  Afghanistan  AFG  1984                         11.489043

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12151 entries, 0 to 12150
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Entity                            12151 non-null  object
 1   Code                              9691 non-null   object
 2   Year                              12151 non-null  int64
 3   Primary energy consumption (TWh)  12151 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 379.8+ KB

In [16]:
df2.shape

(12151, 4)

In [40]:
df2 = df2.rename(columns={'Entity':'Country'})

In [41]:
print(df2)

           Country Code  Year  Primary energy consumption (TWh)
0      Afghanistan  AFG  1980                          7.790772
1      Afghanistan  AFG  1981                          8.777320
2      Afghanistan  AFG  1982                          9.348327
3      Afghanistan  AFG  1983                         11.436162
4      Afghanistan  AFG  1984                         11.489043
...            ...  ...   ...                               ...
12146     Zimbabwe  ZWE  2015                         54.651080
12147     Zimbabwe  ZWE  2016                         46.665936
12148     Zimbabwe  ZWE  2017                         45.936050
12149     Zimbabwe  ZWE  2018                         47.502068
12150     Zimbabwe  ZWE  2019                         49.426674

[12151 rows x 4 columns]

In [42]:
df2.to_csv(os.path.join(path, '02 Prepared Data', 'Comsumption data.csv'))

## merging datasets

In [48]:
print(df1)

           Country  Year  Prod_sources  Production Value (GWh)
0        Argentina  2015           307            9.474257e+05
1        Argentina  2016           296            9.587725e+05
2        Argentina  2017           297            9.428265e+05
3        Argentina  2018           324            9.429776e+05
4        Argentina  2019           324            8.923410e+05
..             ...   ...           ...                     ...
541  United States  2018           324            2.841502e+07
542  United States  2019           324            2.808453e+07
543  United States  2020           324            2.706935e+07
544  United States  2021           324            2.809176e+07
545  United States  2022           312            2.885488e+07

[546 rows x 4 columns]

In [49]:
print(df2)

           Country Code  Year  Primary energy consumption (TWh)
0      Afghanistan  AFG  1980                          7.790772
1      Afghanistan  AFG  1981                          8.777320
2      Afghanistan  AFG  1982                          9.348327
3      Afghanistan  AFG  1983                         11.436162
4      Afghanistan  AFG  1984                         11.489043
...            ...  ...   ...                               ...
12146     Zimbabwe  ZWE  2015                         54.651080
12147     Zimbabwe  ZWE  2016                         46.665936
12148     Zimbabwe  ZWE  2017                         45.936050
12149     Zimbabwe  ZWE  2018                         47.502068
12150     Zimbabwe  ZWE  2019                         49.426674

[12151 rows x 4 columns]

In [50]:
df_merged = pd.merge(df1, df2, how='left', on=['Country','Year'])

In [51]:
df_merged.shape

(546, 6)

In [52]:
df_merged.to_csv(os.path.join(path, '02 Prepared Data', 'Comsumption vs Production.csv'))